
            <!DOCTYPE html>
            <html lang="uk">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="/public/styles.css">
                <title>Каталог Гітар</title>
            </head>
            <body>
                <h1>Каталог Гітар</h1>
                <div class="guitar-container">
                    
                <div class="guitar-box">
                    <h3>Fzone FZU-002 Orange</h3>
                    <p>Ціна: 799₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/216141715.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Cort AD810 OP</h3>
                    <p>Ціна: 5 099₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/46705920.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Yamaha F310</h3>
                    <p>Ціна: 6 399₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/45649447.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Cort X100 (Open Pore Black Cherry)</h3>
                    <p>Ціна: 8 316₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/322351258.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Yamaha FG820 Sunset Blue (FG820 SB)</h3>
                    <p>Ціна: 18 369₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/58391799.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Трансакустична гітара Lava ME 3 38" Blue (Space Bag) (R127778)</h3>
                    <p>Ціна: 69 300₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/368166377.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітарний набір Yamaha EG112 GPII (MTR) Red</h3>
                    <p>Ціна: 17 742₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/46529343.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Squier by Fender Debut Stratocaster LRL Black (236110)</h3>
                    <p>Ціна: 8 379₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/472857441.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Parksons UK21C</h3>
                    <p>Ціна: 2 275₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/10608563.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Ibanez GRG121DX (220673) Black Flat</h3>
                    <p>Ціна: 11 700₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/48376549.jpg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Parksons ST170 WH</h3>
                    <p>Ціна: 5 914₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Ibanez GRG131DX BK (226418)</h3>
                    <p>Ціна: 11 760₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Ibanez GRX70QA Transparent Blue Burst (224094)</h3>
                    <p>Ціна: 11 340₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Cort Trailblazer Pack CAP-810 Open Pore (CAP-810 OP)</h3>
                    <p>Ціна: 6 799₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Cort Earth 60M (Open Pore Trans Black Burst)</h3>
                    <p>Ціна: 6 999₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Fender Squier Affinity Series Stratocaster MN Black (231496)</h3>
                    <p>Ціна: 17 850₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара електроакустична Cort AD880CE NAT</h3>
                    <p>Ціна: 9 587₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Epiphone DR-100 (A002320) Vintage Sunburst CH HDWE</h3>
                    <p>Ціна: 6 999₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара класична Maxtone CGC390N</h3>
                    <p>Ціна: 3 405₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Cort X100 Open Pore Black Burst (x100 opbb)</h3>
                    <p>Ціна: 8 316₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Ibanez RG421EX (220670) Black Flat</h3>
                    <p>Ціна: 19 700₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Ibanez PF15 (211086) Black</h3>
                    <p>Ціна: 8 930₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Epiphone DR-100 (A002318) Ebony CH HDWE</h3>
                    <p>Ціна: 6 999₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Epiphone DR-100 (A002319) Natural CH HDWE</h3>
                    <p>Ціна: 6 999₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Cort CR100 BK</h3>
                    <p>Ціна: 11 897₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Squier by Fender Debut Telecaster LRL Black (236113)</h3>
                    <p>Ціна: 8 379₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Cort Earth 60M (Open Pore)</h3>
                    <p>Ціна: 6 999₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Yamaha FG820 Black (FG820 BL)</h3>
                    <p>Ціна: 18 369₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Yamaha FS820 Natural (FS820 NT)</h3>
                    <p>Ціна: 18 369₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Cort Action PJ Open Pore Walnut (Action PJ OPW)</h3>
                    <p>Ціна: 9 818₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Cort G110 (Open Pore Black)</h3>
                    <p>Ціна: 7 854₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Takamine GD11M Natural (221924)</h3>
                    <p>Ціна: 9 450₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Fender CD-60 V3 WN Sunburst (228748)</h3>
                    <p>Ціна: 8 747₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Трансакустична гітара Lava ME PRO Gold (R127088)</h3>
                    <p>Ціна: 71 358₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Maxtone WGC4010 BK</h3>
                    <p>Ціна: 3 799₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Parksons UK21L Pink (UK-21L PK)</h3>
                    <p>Ціна: 1 080₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Ibanez GRG220PA1 (234184)</h3>
                    <p>Ціна: 15 750₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара електроакустична Yamaha APX600 Black (APX600 BLK)</h3>
                    <p>Ціна: 18 684₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Jackson JS22 Dinky AH White (228723)</h3>
                    <p>Ціна: 12 180₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Parksons UK21L Turquoise (UK-21L TQ)</h3>
                    <p>Ціна: 1 080₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Ibanez GRG170DX BKN (44692) Black Night</h3>
                    <p>Ціна: 14 400₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Cort KX100 Iron Oxide (kx100 io)</h3>
                    <p>Ціна: 10 857₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара класична Admira Alba</h3>
                    <p>Ціна: 6 600₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара електроакустична Yamaha Silent SLG200S Natural (slg200s nt)</h3>
                    <p>Ціна: 38 730₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара класична Yamaha Silent SLG200N Tobacco Brown Sunburst (slg200n tbs)</h3>
                    <p>Ціна: 38 730₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Parksons JB4111C Black (JB4111c-blk)</h3>
                    <p>Ціна: 4 199₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Трансакустична гітара Lava ME 2 Freeboost White (R127086)</h3>
                    <p>Ціна: 33 390₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Fender Squier Affinity Series Telecaster MN Butterscotch Blonde (231505)</h3>
                    <p>Ціна: 17 850₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Jackson JS32Q ARCH TOP AH TRANS Black (228728)</h3>
                    <p>Ціна: 23 940₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Parksons UK21L Red (UK-21L RD)</h3>
                    <p>Ціна: 1 080₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара електроакустична PRS SE A50E Natural w / Black Gold Burst</h3>
                    <p>Ціна: 49 780₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Укулеле із вбудованими ефектами Lava U26 Freeboost Blue Concert (R127093)</h3>
                    <p>Ціна: 18 732₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Cort CR250 VB</h3>
                    <p>Ціна: 19 635₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара акустична Maxtone WGC360 3/4</h3>
                    <p>Ціна: 3 106₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Ibanez GRGR131EX BKF (230800)</h3>
                    <p>Ціна: 11 970₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара класична Admira A2 Natural</h3>
                    <p>Ціна: 19 404₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Parksons UK21L Blue (UK-21L BL)</h3>
                    <p>Ціна: 899₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Електрогітара Ibanez GRG7221QA TKS (227667)</h3>
                    <p>Ціна: 16 590₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітарний набір Yamaha ERG121 GPII (MTU)</h3>
                    <p>Ціна: 17 742₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                <div class="guitar-box">
                    <h3>Гітара класична Manuel Rodriguez Principio CA-CM CE 4/4 (RG-500369)</h3>
                    <p>Ціна: 13 110₴</p>
                    <a href="undefined" target="_blank">Переглянути</a>
                    <img src="/public/images/goods-stub.svg" alt="Guitar Image">
                </div>
            
                </div>
            </body>
            </html>
        